* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #333;
	height: 100vh;
	font-family: sans-serif;
}

.faq{
	margin-bottom: 1rem;
	width: 80%;
	padding-bottom: 1rem;
	border-bottom: 2px solid black;
	cursor: pointer;


}

.question{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.answer{
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s;
}

.answer p{
	padding-top: 1rem;
	line-height: 1.6;
}

.faq.active .answer{
	max-height: 300px;	
	animation: fade 1s;
}

.faq.active i {
	transform: rotate(-180deg);
}

i{
	transition: transform .5s;
}

@keyframes fade {
	from{
		opacity: 0;
		transform: translateY(-10px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);
	}
}